.home_page {
    .page_header {
        background: #edeef0;
        box-sizing: border-box;
        height: 500px;
        overflow: auto;
        @include flexCenter;
        width: 100%;
        padding-top: 120px;
        padding-bottom: 40px;
        .carousel_container {
            width: 658px;
            height: 100%;

            .book_wrap {
                position: relative;
                width: 658px;
                height: 100%;
                @include flexCenter;
                justify-content: flex-start;
                background-color: #fff;
                border-radius: 5px;
                overflow: hidden;
                .book_cover {
                    width: 350px;
                    height: 380;
                    img {
                        width: auto;
                        height: 380px;
                        object-fit: contain;
                    }
                }
                .book_info {
                    @include flexCenterColumn;
                }
                .addCart_btn {
                    position: absolute;
                    bottom: 50px;
                    right: 10px;
                    padding: 5px;
                    background-color: brown;
                    border-radius: 3px;
                    color: #fff;
                    cursor: pointer;
                    i {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    .page_content {
        box-sizing: border-box;
        min-height: 100vh;
        padding: 80px 200px;

        position: relative;
        background: #f4f5f7;
        .reviewRate_book_list,
        .newRelease_book_list {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            column-gap: 2vw;
        }
    }
}
